{
  "extends": [
    "@antfu/eslint-config-react"
    // "plugin:prettier/recommended"
  ]
  // "rules": {
  //   "allowTernary": false,
  //   "allowShortCircuit": false,
  //   "allowTaggedTemplates": false
  // }
}
