.fade-enter {
  z-index: 1;
  opacity: 0;
  transform: translate(0, 25px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-out, transform 300ms ease;
  transform: translate(0, 0);
}

.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 250ms ease-out, transform 300ms ease;
  transform: translate(0, 30px);
}
