.BannerWrapper {
  .banner {
    display: flex;
    justify-content: center;
    .BannerContent {
      width: 100%;
      .banner-item {
        .image {
          width: 100%;
          height: 250px;
          object-fit: contain;
          overflow: hidden;
        }
      }
    }
  }
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  color: currentcolor !important;
}
.ant-carousel .slick-prev::before {
  color: currentcolor !important;
}
.slick-arrow.slick-prev {
  font-size: 20px !important;
}
.ant-carousel .slick-next::before {
  color: currentcolor !important;
}
.slick-arrow.slick-next {
  font-size: 20px !important;
}
