.BannerWrapper {
  .banner {
    display: flex;
    justify-content: center;
    .BannerContent {
      width: 100%;
      .banner-item {
        .image {
          width: 100%;
          height: 250px;
          object-fit: contain;
          overflow: hidden;
        }
      }
    }
  }
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: 10px;
  z-index: 2;
  font-size: 2em;
  color: #ffffff;
}
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: 10px;
  z-index: 2;
  font-size: 2em;
  color: #ffffff;
}
